html {
    font-family: sans-serif;
}

#nav {
    text-align: center;
    width: 100%;
}

.nav,
#table-head {
    text-shadow: 1px 1px 2px grey;
    font-weight: bold;
}

#home,
#about,
#members {
    border-right: solid;
    border-width: 2px;
}

a:link,
a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover,
a:active {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

h1 {
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px grey;
}

.info {
    text-align: center;
    font-size: 20px;
}

.name,
.nickname,
.minecraft,
.line,
.steam {
    text-align: center;
    background-color: lightgray;
    border: 2px solid #000000
}

.members {
    margin: auto;
    width: 70%;
}

#Cody,
#Nick,
#Justin,
#Greg,
#Chris {
    border: solid;
    border-width: 2px;
    text-align: center;
    border-color: blue;
}

#members-td {
    border: 2px solid #000000;
    text-align: center;
}